.bio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 138em;
}
.bio__portrait {
  width: 39em;
  height: 39em;
  border: 1px dotted black;
  margin: 0.5em;
  background-color: bisque;
  border: 1px dotted black;
}
.bio__introduction {
  width: 45em;
  height: 39em;
  border: 1px dotted black;
  margin: 0.5em;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.latest-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 138em;
}
.latest-projects__project {
  width: 33em;
  height: 46em;
  border: 1px dotted black;
  margin: 1em;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 2rem;
}

p {
  margin: 2em;
}

.project-images {
  margin-bottom: 1em;
}

@media (prefers-color-scheme: dark) {
  .bio__introduction {
    background-color: grey;
  }
  .latest-projects__project {
    background-color: grey;
  }
}
@-webkit-keyframes scale-and-add-shadow {
  100% {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.26);
    scale: 0.9;
  }
}
@keyframes scale-and-add-shadow {
  100% {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.26);
    scale: 0.9;
  }
}
@-webkit-keyframes add-shadow {
  100% {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.26);
  }
}
@keyframes add-shadow {
  100% {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.26);
  }
}
@-webkit-keyframes move-and-fade-background {
  100% {
    translate: 0% -10%;
    scale: 0.9;
    opacity: 0.5;
  }
}
@keyframes move-and-fade-background {
  100% {
    translate: 0% -10%;
    scale: 0.9;
    opacity: 0.5;
  }
}
@-webkit-keyframes fade-background {
  100% {
    opacity: 0.5;
  }
}
@keyframes fade-background {
  100% {
    opacity: 0.5;
  }
}
@-webkit-keyframes scale-logo {
  50% {
    scale: 0.8;
  }
  100% {
    scale: 0.7;
  }
}
@keyframes scale-logo {
  50% {
    scale: 0.8;
  }
  100% {
    scale: 0.7;
  }
}
@-webkit-keyframes no-scale-logo {
  100% {
    scale: 1;
  }
}
@keyframes no-scale-logo {
  100% {
    scale: 1;
  }
}
.buttons {
  width: 18em;
  height: 4em;
  border: 1px dotted black;
  margin: 0.5em;
  padding: 0;
  font-size: 1.5rem;
  background-color: cornsilk;
  border-radius: 1em;
}
.buttons:hover {
  background-color: rgba(245, 221, 127, 0.486);
}

.project-buttons {
  width: 22em;
  height: 5em;
  border: 1px dotted black;
  margin: 0.5em;
  padding: 0;
  font-size: 1.5rem;
  background-color: cornsilk;
  border-radius: 1em;
}
.project-buttons:hover {
  background-color: rgba(245, 221, 127, 0.486);
}

@media (prefers-color-scheme: dark) {
  .buttons {
    background-color: rgba(245, 221, 127, 0.486);
  }
  .buttons:hover {
    background-color: cornsilk;
  }
  .project-buttons {
    background-color: rgba(245, 221, 127, 0.486);
  }
  .project-buttons:hover {
    background-color: cornsilk;
  }
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 138em;
  height: 12em;
}
.footer__bar {
  width: 138em;
  height: auto;
  margin: 0.5em;
  background-color: bisque;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1em;
  border: 1px dotted black;
}

@media (prefers-color-scheme: dark) {
  .footer__bar {
    background-color: grey;
  }
}
@supports (animation-timeline: scroll()) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 138em;
    min-width: 40em;
    position: -webkit-sticky;
    position: sticky;
    top: -1.5em;
  }
  .header--animation {
    -webkit-animation: scale-and-add-shadow linear both;
            animation: scale-and-add-shadow linear both;
    animation-timeline: scroll();
    animation-range: 0 300px;
  }
  .header__bar {
    width: 138em;
    height: auto;
    margin: 0.5em;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/starter/src/img/background.jpg);
    background-size: cover;
  }
  .header__bar--animation {
    -webkit-animation: move-and-fade-background linear both;
            animation: move-and-fade-background linear both;
    animation-timeline: scroll();
    animation-range: 0 300px;
  }
  .header__logo {
    width: 6.6em;
    height: 5.5em;
    border: 1px dotted black;
    margin: 0.5em;
    padding: 0;
    font-size: 1.5rem;
    background-color: bisque;
    margin: 0.5em;
    border-radius: 1.5em;
  }
  .header__logo--animation {
    -webkit-animation: scale-logo linear both;
            animation: scale-logo linear both;
    animation-timeline: scroll();
    animation-range: 0 300px;
  }
  .header__menu {
    border: none;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-right: 1em;
    -webkit-padding-start: 0.5em;
            padding-inline-start: 0.5em;
  }
  .header__menu--option {
    width: 4em;
    height: 2em;
    border: 1px dotted black;
    margin: 0.5em;
    padding: 0;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    font-weight: bold;
  }
}
@media (prefers-reduced-motion: reduce) {
  .header--animation {
    -webkit-animation: add-shadow linear both;
            animation: add-shadow linear both;
    animation-timeline: scroll();
    animation-range: 0 300px;
  }
  .header__bar--animation {
    -webkit-animation: fade-background linear both;
            animation: fade-background linear both;
    animation-timeline: scroll();
    animation-range: 0 300px;
  }
  .header__logo--animation {
    -webkit-animation: no-scale-logo linear both;
            animation: no-scale-logo linear both;
    animation-timeline: scroll();
    animation-range: 0 300px;
  }
}
.intro-container {
  width: 44em;
  height: 15em;
  border: 1px dotted black;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}

.intro-button-container {
  width: 44em;
  height: 8em;
  border: 1px dotted black;
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: none;
}

.projects-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 138em;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #212529;
    color: #f8f9fa;
  }
  .intro-container {
    background-color: grey;
  }
  .intro-button-container {
    background-color: grey;
  }
  .projects-button-container {
    background-color: #212529;
  }
}
/*# sourceMappingURL=main.css.map */